@font-face{
    font-family: 'proxima';
    src: url(../fonts/proximanova/proxima-nova-reg-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'proxima';
    src: url(../fonts/proximanova/proxima-nova-bold-webfont.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
}

body{ 
    background-image: url("../images/background.png");
    background-color: black;
    
}
h1,h2,h3{
    color: whitesmoke;
}
h1.title{
    font-family: 'proxima';
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
h2.bday{
    font-family: 'proxima';
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.card{
    font-family: 'proxima';
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.arkangel,.black,.crocodile,.entire,.hang,.hated,.nosedive,.playtest,.san,.shut,.uss,.white{
    height: 200px;
    width: 200px;
}

.circle {
    align-content: center;
    position: relative;
    height:46rem;
    width: 46rem;
}
.center_image{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
}

.uss{transform: translate(33rem);}
.san{transform: translate(30.5rem) translateY(-5px) rotate(30deg);}
.hang{transform:translate(27rem) translateY(4.5rem) rotate(60deg);}
.shut{transform:translate(45rem) translateY(.5rem) rotate(90deg);}
.crocodile{transform:translate(32.5rem) translateY(11rem) rotate(120deg);}
.playtest{transform:translate(53rem) translateY(7.3rem) rotate(150deg);}
.entire{transform:translate(31.5rem) translateY(12.7rem) rotate(180deg);}
.black{transform:translate(8.5rem) translateY(13.2rem) rotate(210deg);}
.arkangel{transform:translate(24.7rem) translateY(-4.4rem) rotate(240deg);}
.hated{transform:translate(6.5rem) translateY(-13.2rem) rotate(270deg);}
.white{transform:translate(-6.5rem) translateY(-23.7rem) rotate(300deg);}
.nosedive{transform:translate(24rem) translateY(-7.3rem) rotate(330deg);}
